html
	head
		link(rel="stylesheet", href="css/style.min.css")
	body
		include html/header
		main.page
			h1 Привет!
			h2 Hello!!!
			div
				img(src="@img/water.png")
			div
				img(src="@img/bycov.jpg")
			div
				img(src="@img/Vector.svg")
			include html/footer
			script(src="js/app.min.js")